{% extends "base.html" %}
{% block css %}{% load static %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" id="applicationStylesheet" href="{% static 'j4css/list.css' %}"/>

{% endblock css%}

{% block title %}
サムネ表示
{% endblock title %}


{% block content %}{% load widget_tweaks %}
{% for a in video_infomation %}
{{ a.title }}
{{ a.image.thumbnaill }}


{% endfor %}


<div id="Artboard">
	<div id="Group_be">
		<svg class="n_9_bf">
			<rect id="n_9_bf" rx="0" ry="0" x="0" y="0" width="319" height="114">
			</rect>
		</svg>
		<div id="C-tube_bg">
			<span>C-tube（仮）</span>
		</div>
	</div>
	
	<svg class="n_10">
		<rect id="n_10" rx="0" ry="0" x="0" y="0" width="362" height="57">
		</rect>
	</svg>
	
	<div id="Component_eg" class="____">
		<svg class="n_4_eh">
			<rect id="n_4_eh" rx="15" ry="15" x="0" y="0" width="227" height="45">
			</rect>
		</svg>
		<div id="Text_ei">
			<span>カテゴリー１</span>
		</div>
	</div>
	<div id="Component_eg" class="____">
		<svg class="n_4_eh">
			<rect id="n_4_eh" rx="15" ry="15" x="0" y="0" width="227" height="45">
			</rect>
		</svg>
		<div id="Text_ei">
			<span>カテゴリー１</span>
		</div>
	</div>
	<div id="Component_eg" class="____">
		<svg class="n_4_eh">
			<rect id="n_4_eh" rx="15" ry="15" x="0" y="0" width="227" height="45">
			</rect>
		</svg>
		<div id="Text_ei">
			<span>カテゴリー１</span>
		</div>
	</div>
	<div id="n_1_br">
		<div id="Group_bs" class="">
			<svg class="n_4_bt" viewBox="0 0 1700 6">
				<path id="n_4_bt" d="M 0 6 L 1700 0">
				</path>
			</svg>
			<div id="Component_bu" class="____">
		<svg class="n_4_eh">
			<rect id="n_4_eh" rx="15" ry="15" x="0" y="0" width="227" height="45">
			</rect>
		</svg>
		<div id="Text_ei">
			<span>カテゴリー１</span>
		</div>
			</div>
		</div>
		<div id="Group_bx" class="">
			<svg class="n_4_by" viewBox="0 0 1700 6">
				<path id="n_4_by" d="M 0 6 L 1700 0">
				</path>
			</svg>
			<div id="Component_bz" class="____">
				<svg class="n_4_b">
					<rect id="n_4_b" rx="15" ry="15" x="0" y="0" width="227" height="45">
					</rect>
				</svg>
				<div id="Text_b">
					<span>カテゴリー２</span>
				</div>
			</div>
		</div>
		<div id="Group_b" class="">
			<svg class="n_4_ca" viewBox="0 0 1700 6">
				<path id="n_4_ca" d="M 0 6 L 1700 0">
				</path>
			</svg>
			<div id="Component_b" class="____">
				<svg class="n_4_cb">
					<rect id="n_4_cb" rx="15" ry="15" x="0" y="0" width="227" height="45">
					</rect>
				</svg>
				<div id="Text_ca">
					<span>カテゴリー３</span>
				</div>
			</div>
		</div>
		<div id="Group_ca" class="">
			<svg class="n_4_cc" viewBox="0 0 1700 6">
				<path id="n_4_cc" d="M 0 6 L 1700 0">
				</path>
			</svg>
			<div id="Component_ca" class="____">
				<svg class="n_4_cd">
					<rect id="n_4_cd" rx="15" ry="15" x="0" y="0" width="227" height="45">
					</rect>
				</svg>
				<div id="Text_cb">
					<span>カテゴリー１</span>
				</div>
			</div>
		</div>
	</div>
	<div onclick="application.goToTargetView(event)" id="n_4__1" class="________4___1">
		<div id="n_28">
			<img id="n_2_ce" src="n_2_ce.png" srcset="n_2_ce.png 1x">
				
			<svg class="n_6_cf">
				<rect id="n_6_cf" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_cg">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29">
		<div id="n_28_ci">
			<img id="n_2_cj" src="n_2_cj.png" srcset="n_2_cj.png 1x">
				
			<svg class="n_6_ck">
				<rect id="n_6_ck" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_cl">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_cm">
		<div id="n_28_cn">
			<img id="n_2_co" src="n_2_co.png" srcset="n_2_co.png 1x">
				
			<svg class="n_6_cp">
				<rect id="n_6_cp" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_cq">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_cr">
		<div id="n_28_cs">
			<img id="n_2_ct" src="n_2_ct.png" srcset="n_2_ct.png 1x">
				
			<svg class="n_6_cu">
				<rect id="n_6_cu" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_cv">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_cw">
		<div id="n_28_cx">
			<img id="n_2_cy" src="n_2_cy.png" srcset="n_2_cy.png 1x">
				
			<svg class="n_6_cz">
				<rect id="n_6_cz" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_c">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_c">
		<div id="n_28_c">
			<img id="n_2_c" src="n_2_c.png" srcset="n_2_c.png 1x">
				
			<svg class="n_6_c">
				<rect id="n_6_c" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_da">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_da">
		<div id="n_28_da">
			<img id="n_2_da" src="n_2_da.png" srcset="n_2_da.png 1x">
				
			<svg class="n_6_da">
				<rect id="n_6_da" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_db">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_db">
		<div id="n_28_dc">
			<img id="n_2_dd" src="n_2_dd.png" srcset="n_2_dd.png 1x">
				
			<svg class="n_6_de">
				<rect id="n_6_de" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_df">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_dg">
		<div id="n_28_dh">
			<img id="n_2_di" src="n_2_di.png" srcset="n_2_di.png 1x">
				
			<svg class="n_6_dj">
				<rect id="n_6_dj" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_dk">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_dl">
		<div id="n_28_dm">
			<img id="n_2_dn" src="n_2_dn.png" srcset="n_2_dn.png 1x">
				
			<svg class="n_6_do">
				<rect id="n_6_do" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_dp">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_dq">
		<div id="n_28_dr">
			<img id="n_2_ds" src="n_2_ds.png" srcset="n_2_ds.png 1x">
				
			<svg class="n_6_dt">
				<rect id="n_6_dt" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_du">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_dv">
		<div id="n_28_dw">
			<img id="n_2_dx" src="n_2_dx.png" srcset="n_2_dx.png 1x">
				
			<svg class="n_6_dy">
				<rect id="n_6_dy" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_dz">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_d">
		<div id="n_28_d">
			<img id="n_2_d" src="n_2_d.png" srcset="n_2_d.png 1x">
				
			<svg class="n_6_d">
				<rect id="n_6_d" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_d">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_ea">
		<div id="n_28_ea">
			<img id="n_2_ea" src="n_2_ea.png" srcset="n_2_ea.png 1x">
				
			<svg class="n_6_ea">
				<rect id="n_6_ea" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_ea">
			<span>タイトル</span>
		</div>
	</div>
	<div id="n_29_eb">
		<div id="n_28_eb">
			<img id="n_2_ec" src="n_2_ec.png" srcset="n_2_ec.png 1x">
				
			<svg class="n_6_ed">
				<rect id="n_6_ed" rx="15" ry="15" x="0" y="0" width="223" height="46">
				</rect>
			</svg>
		</div>
		<div id="Text_ee">
			<span>タイトル</span>
		</div>
	</div>
	<div id="Text_ef">
		<span>検索</span>
	</div>
	<div id="Component_eg" class="____">
		<svg class="n_4_eh">
			<rect id="n_4_eh" rx="15" ry="15" x="0" y="0" width="227" height="45">
			</rect>
		</svg>
		<div id="Text_ei">
			<span>カテゴリー１</span>
		</div>
	</div>
</div>

{% endblock content %}
